*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

* :hover,
*::before :hover,
*::after :hover {
    text-decoration: none;
}

.card-img-top {
    max-width: 100%;  
    max-height: 300px;  
    object-fit: cover;  
}